.navbar-brand {
  text-indent: 0.5em;
}

.brand-logo{
  background-image: url(../assets/images/custom-logo.jpg);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-position-x: center;
  background-position-y: center;
}

[cam-widget-header] .navbar-brand .brand-logo svg {
    display: none;
}

.login-logo svg {
    display: none;
}

.form-signin .login-header .login-logo{
    background-image: url(../assets/images/custom-logo.jpg);
    height: 60px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position-x: center;
}

[cam-widget-header] {
	border-top: 0px;
}
.column .cell.top {
	border-bottom: 1px solid #e0e0e0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-bottom: ${CUSTOM_COLOR_LINES};
}
.btn-primary {
	background-color: ${CUSTOM_COLOR_LINES};
	border-color: ${CUSTOM_COLOR_LINES};
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus {
	color: ${CUSTOM_COLOR_LINKS};
	background-color: #009900;
	border-color: #009900;
}

.item.active,.item.active:hover,.list-unstyled>li.active, .three-cols-layout .column-left .list-unstyled>.item.active, .three-cols-layout .column-center .list-unstyled>li.active, .three-cols-layout .column-left .list-unstyled>.item.active:hover, .three-cols-layout .column-center .list-unstyled>li.active:hover {
	border-color: ${CUSTOM_COLOR_LINES};
}
.item:hover {
	border-color: ${CUSTOM_COLOR_LINKS};
}
[cam-widget-footer] {
	color: white;
	background-color: ${CUSTOM_COLOR_LINES};
}

[cam-widget-footer] a {
	color: white;
}
[cam-widget-footer] a:hover, [cam-widget-footer] a:focus {
    color: black;
}